.updatefrom{
padding: 0.5rem;
/* border-bottom: 1px solid #d8dadc; */
}

.updatefrom div input {
    width: 100%;
}
.updatefrom div textarea {
    width: 100%;
}
.frombtn {
    justify-content: end;
    width: 60%;
}
.frombtn button{
    width: 6rem;
    margin: 0 1rem;
    margin-right: 0;
}